/* CSS untuk versi desktop */
.about-section {
  background-color: #f9f9f975; /* Warna latar belakang yang ringan untuk section */
  display: flex;
  justify-content: center; /* Memusatkan konten */
}

.about-container {
  max-width: 800px; /* Lebar maksimum kontainer */
  width: 100%; /* Memastikan kontainer menggunakan lebar penuh dari section */
  padding: 20px; /* Padding di dalam kontainer */
  border-radius: 8px; /* Sudut membulat pada kontainer */
  text-align: left; /* Teks rata kiri */
}

.about-container h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center; /* Judul di tengah secara horizontal */
}

.about-container p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  text-align: center; /* Teks paragraf di tengah secara horizontal */
}

/* Media query untuk versi mobile */
@media (max-width: 768px) {
  .about-section {
    padding: 10px; /* Kurangi padding untuk layar kecil */
  }

  .about-container {
    padding: 20px; /* Kurangi padding di dalam kontainer */
    border-radius: 4px; /* Kurangi radius sudut */
  }

  .about-container h1 {
    font-size: 2rem; /* Sesuaikan ukuran font judul untuk layar kecil */
    margin-bottom: 15px; /* Kurangi margin bawah */
  }

  .about-container p {
    font-size: 1rem; /* Sesuaikan ukuran font paragraf */
    text-align: left; /* Ubah teks paragraf menjadi rata kiri untuk tampilan mobile */
  }
}

/* Media query untuk versi mobile lebih kecil (seperti ponsel) */
@media (max-width: 480px) {
  .about-container h1 {
    font-size: 1.75rem; /* Sesuaikan ukuran font judul lebih kecil untuk layar sangat kecil */
    margin-bottom: 10px; /* Kurangi margin bawah */
  }

  .about-container p {
    font-size: 0.9rem; /* Sesuaikan ukuran font paragraf */
  }
}
