/* CSS untuk versi desktop */
.about-section {
  display: flex;
  justify-content: center; /* Memusatkan konten */
  padding: 20px;
  margin: 20px auto; /* Margin atas dan bawah */
  overflow: hidden;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 0;
  width: 95vw;
  height: 90vh;
  position: relative;
}

.about-container h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center; /* Judul di tengah secara horizontal */
}

.about-container p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.6;
  max-width: 900px; /* Atur lebar maksimum agar tidak terlalu lebar */
  margin: 0 auto 20px auto; /* Pusatkan paragraf */
  text-align: center; /* Ratakan teks di tengah */
}

/* Media query untuk versi mobile */
@media (max-width: 768px) {
  .about-section {
    padding: 10px; /* Kurangi padding untuk layar kecil */
  }

  .about-container {
    padding: 15px; /* Padding yang sesuai untuk layar kecil */
    border-radius: 6px; /* Radius sudut sedikit lebih besar untuk tampilan mobile */
    width: 100%; /* Lebar penuh kontainer */
    height: auto; /* Tinggi otomatis menyesuaikan konten */
  }

  .about-container h1 {
    font-size: 2rem; /* Sesuaikan ukuran font judul untuk layar kecil */
    margin-bottom: 15px; /* Kurangi margin bawah */
  }

  .about-container p {
    font-size: 1rem; /* Sesuaikan ukuran font paragraf */
    text-align: center; /* Tetap ratakan teks di tengah */
  }
}

/* Media query untuk versi mobile lebih kecil (seperti ponsel) */
@media (max-width: 480px) {
  .about-container {
    padding: 10px; /* Padding lebih kecil untuk layar ponsel */
  }

  .about-container h1 {
    font-size: 1.75rem; /* Sesuaikan ukuran font judul lebih kecil untuk layar sangat kecil */
    margin-bottom: 10px; /* Kurangi margin bawah */
  }

  .about-container p {
    font-size: 0.9rem; /* Sesuaikan ukuran font paragraf */
  }
}
