.surah-card {
  width: 200px; /* Adjust width of the cards */
  background-color: #fff; /* Card background color */
  border: 1px solid #ddd; /* Border color for cards */
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, cursor 0.3s ease; /* Smooth transition for background color and cursor */
  cursor: pointer; /* Pointer cursor for clickable cards */
}

.surah-card:hover {
  background-color: #f0f0f0; /* Slightly darker color on hover */
}

.surah-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #555;
}

.surah-latin {
  font-size: 1.2rem;
  color: #555;
}
