.calculator-section {
  padding: 20px;
  /* Atur lebar section kalkulator */
  max-width: 1200px; /* Atur lebar maksimum sesuai kebutuhan */
  margin: 0 auto; /* Tengah-tengah secara horizontal */
}
.zakat-calculator {
  padding: 20px;
  border-radius: 8px;
  max-width: 800px; /* Atur lebar maksimum kalkulator */
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}
.zakat-calculator h1 {
  font-size: 2.5rem; /* Sesuaikan ukuran font sesuai kebutuhan */
  color: #333; /* Warna teks */
  margin-bottom: 20px;
}

.calculator-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.calculator-inputs input {
  padding: 10px;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.calculator-inputs button {
  padding: 10px;
  background-color: #5f7e78;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
}

.calculator-inputs button:hover {
  background-color: #333;
}

.zakat-result {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #333;
}
