* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden; /* Menyembunyikan scroll horizontal */
}
/* General App styling */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f5f5dc; /* Cream color as background */
}

.App-content {
  overflow-y: auto;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 0;
  width: 95vw;
  height: 90vh;
  position: relative;
}

.App-header h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 30px;
}

.App-header p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.6;
  max-width: 900px; /* Atur lebar maksimum agar tidak terlalu lebar */
  margin: 0 auto 20px auto; /* Pusatkan paragraf */
  text-align: center; /* Ratakan teks di tengah */
}

/* Card list styling */
.surah-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

/* Pagination styling */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Mobile styling */
@media (max-width: 600px) {
  .App-header {
    height: auto; /* Allow header to adjust height based on content */
    margin-top: 20vw;
  }

  .text-input {
    width: 100%;
    max-width: none; /* Allow full width on mobile */
    height: auto; /* Adjust height based on content */
  }

  .search-button {
    width: 100%;
    margin-top: 10px; /* Add margin for spacing */
  }
  .search-button :hover {
    background-color: #33333348;
  }
}
/* Animasi CSS */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.appear {
  opacity: 0; /* Initial state for animation */
  animation: fadeIn 1s ease-out forwards; /* Apply animation */
  will-change: opacity, transform; /* Optimizes animation performance */
  overflow-y: hidden;
}
/* Styling umum untuk elemen */
section,
.calculator-section,
.zakat-calculator {
  margin: 0 auto; /* Pusatkan elemen secara horizontal */
}

/* Styling khusus untuk .calculator-section */
.calculator-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Pusatkan konten secara horizontal */
  justify-content: center; /* Pusatkan konten secara vertikal */
  font-size: calc(10px + 1vmin); /* Sesuaikan ukuran font */
  width: 95vw; /* Lebar elemen sesuai dengan viewport */
  height: auto; /* Sesuaikan tinggi elemen secara otomatis */
  min-height: 80vh; /* Minimal tinggi elemen */
  position: relative; /* Posisi relatif jika diperlukan untuk penataan lebih lanjut */
  overflow: hidden;
}
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Pusatkan konten secara horizontal */
  justify-content: center; /* Pusatkan konten secara vertikal */
  font-size: calc(10px + 1vmin); /* Sesuaikan ukuran font */
  width: 95vw; /* Lebar elemen sesuai dengan viewport */
  height: auto; /* Sesuaikan tinggi elemen secara otomatis */
  min-height: 80vh; /* Minimal tinggi elemen */
  position: relative; /* Posisi relatif jika diperlukan untuk penataan lebih lanjut */
  overflow: hidden;
}

/* Styling khusus untuk .zakat-calculator */
.zakat-calculator {
  width: 100%; /* Lebar penuh kontainer */
  max-width: 800px; /* Lebar maksimum elemen */
  margin: 20px 0; /* Margin atas dan bawah */
  border-radius: 8px; /* Radius sudut */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan */
}

/* Styling untuk .App-content untuk memastikan elemen berada di bawah header */
.App-content {
  margin-top: 0; /* Pastikan margin atas tidak menyebabkan jarak tambahan */
  padding: 20px;
}
