* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden; /* Menyembunyikan scroll horizontal */
}

/* General App styling */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f5f5dc; /* Cream color as background */
}

.App-content {
  overflow-y: auto;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 0;
  width: 95vw;
  height: 90vh;
  position: relative;
}

.App-header h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 30px;
}

.App-header p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.6;
  max-width: 900px; /* Atur lebar maksimum agar tidak terlalu lebar */
  margin: 0 auto 20px auto; /* Pusatkan paragraf */
  text-align: center; /* Ratakan teks di tengah */
}

/* Card list styling */
.surah-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

/* Pagination styling */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Mobile styling */
@media (max-width: 600px) {
  .App-header {
    height: auto; /* Allow header to adjust height based on content */
    margin-top: 20vw; /* Atur jarak atas untuk memberikan ruang pada header */
  }

  .App-header h1 {
    font-size: 1.8rem; /* Ukuran font lebih kecil pada perangkat mobile */
  }

  .App-header p {
    font-size: 1rem; /* Ukuran font lebih kecil pada perangkat mobile */
    max-width: 100%; /* Lebar maksimum penuh pada perangkat mobile */
    margin: 0 10px; /* Margin samping agar tidak terlalu sempit */
  }

  .text-input {
    width: 100%;
    max-width: none; /* Allow full width on mobile */
    height: auto; /* Adjust height based on content */
    padding: 10px; /* Padding tambahan untuk input */
  }

  .search-button {
    width: 100%;
    margin-top: 10px; /* Add margin for spacing */
    padding: 10px; /* Padding tambahan untuk tombol */
    background-color: #333; /* Warna latar belakang tombol */
    color: #fff; /* Warna teks tombol */
    border: none; /* Hapus border tombol */
    border-radius: 5px; /* Radius sudut tombol */
    cursor: pointer; /* Ubah cursor saat hover */
  }

  .search-button:hover {
    background-color: #33333348;
  }

  /* Style untuk elemen di dalam App-content */
  .App-content {
    padding: 10px; /* Padding tambahan pada konten */
  }

  /* Card list styling pada perangkat mobile */
  .surah-list {
    gap: 10px; /* Kurangi jarak antar kartu */
    padding: 10px; /* Padding tambahan */
  }

  /* Styling khusus untuk .calculator-section dan .about-section pada perangkat mobile */
  .calculator-section,
  .about-section {
    width: 100%;
    padding: 10px; /* Padding tambahan pada section */
  }

  .calculator-section {
    min-height: auto; /* Sesuaikan tinggi elemen secara otomatis */
  }

  .about-section {
    min-height: auto; /* Sesuaikan tinggi elemen secara otomatis */
  }

  .zakat-calculator {
    width: 100%; /* Lebar penuh kontainer */
    margin: 10px 0; /* Margin atas dan bawah lebih kecil pada perangkat mobile */
    border-radius: 8px; /* Radius sudut */
    padding: 20px; /* Padding tambahan */
  }
}

/* Animasi CSS */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.appear {
  opacity: 0; /* Initial state for animation */
  animation: fadeIn 1s ease-out forwards; /* Apply animation */
  will-change: opacity, transform; /* Optimizes animation performance */
  overflow-y: hidden;
}

/* Styling umum untuk elemen */
section,
.calculator-section,
.zakat-calculator {
  margin: 0 auto; /* Pusatkan elemen secara horizontal */
}
